.contentInput {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  gap: 3px;
  align-items: start;
}

.contentInputIcon {
  width: 100%;
  position: relative;
}

.icon {
  color: var(--disabledColor);
  transition: color 0.3s ease-in-out;
  position: absolute;
  left: 5px;
  top: 6px;
}

.input:focus ~ .icon {
  color: var(--colorBlue);
}

.icon.errorStyle {
  color: var(--errorColor);
}

.input.errorStyle:focus ~ .icon.errorStyle {
  color: var(--errorColorBorder);
}

.labelInput {
  font-size: var(--commonFontSize);
  color: var(--colorGray);
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.labelInput.errorStyle {
  color: var(--errorColor);
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  border: 2px solid var(--disabledColor);
  font-size: var(--commonFontSize);
  color: var(--colorBlack);
  font-family: 'Nunito_Sans', sans-serif;
  color: var(--colorBlack);
  transition: border-color 0.3s ease-in-out;
}

.input.errorStyle {
  border-color: var(--errorColor);
  color: var(--errorColorBorder);
  background-color: var(--errorColorLigth);
}

.inputPadding {
  padding-left: 35px;
}

.input:focus {
  outline: none;
  border: 2px solid var(--colorBlue);
  box-shadow: 0px 0px 0px 2px var(--colorBlueLigth);
}

.input.errorStyle:focus {
  border-color: var(--errorColorBorder);
  box-shadow: 0px 0px 0px 2px var(--errorColorLigth);
}

.contentInputIcon:has(.input:focus) ~ .labelInput {
  color: var(--colorBlue);
}

.contentInputIcon:has(.input.errorStyle:focus) ~ .labelInput {
  color: var(--errorColorBorder);
}