.main {
  width: 100%;
  padding: 10px;
}

.main > h1{
  font-weight: bold;
  font-size: var(--extraExtraExtraLargeFontSize);
  color: var(--colorBlack);
  text-align: center;
}

.contentMain {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 100vw;
}

.image{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: opacity(0.5);
  position: relative;
  display: block;
}

.contentImage {
  position: relative;
}

.filterBlack{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  filter: sepia(100%) saturate(100000%) grayscale(10000%) invert(100%) contrast(1000);
}

@media (max-width: 768px) {
  .contentMain {
    display: block;
  }
  .image {
    height: auto;
    width: 100%
  }
}

@media (max-width: 375px) {
  .main > h1{
    font-size: var(--extraExtraLargeFontSize);
  }
  .logo {
    aspect-ratio: 1/1;
    object-fit: cover;
    transform: translate(-50%, -50%) scale(0.7);
  }
}