.mainTitle {
  font-size: 2.3rem;
  font-weight: bold;
  color: var(--colorBlack);
  margin: auto;
  text-align: center;
  margin: 15px 0;
}

.textMain {
  font-size: 0.9rem;
  color: var(--colorGray);
  margin: auto;
  text-align: center;
  margin: 15px auto;
  max-width: 600px;
}

.contentMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "userInfo none none"
  "ticket ticket ticket"
  ;

  align-items: flex-start;
  gap: 25px;
  padding: 35px 15px;
}

@media screen and (max-width: 1000px) {
  .contentMain {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "userInfo userInfo"
    "ticket ticket"
    ;
  }
}